body {
    font-family: Arial, sans-serif;
    color: #222;
}

center {
    display: block;
}

#glogo {
    width: 272px;
    height: 92px;
    padding-top: 109px;
}

.navbar {
    width: 100%;
    height: 50px;
}

.menu {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 14px;
    padding-right: 10px;
}

.menu a {
    text-decoration: none;
    color: grey;
}

.btn-sign-in {
    color: #fff;
    background-color: #4285f4;
    font-weight: bold;
    border: 1px solid;
    border-radius: 2px;
    padding: 6px 12px;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
}

.fas {
    color: grey;
    font-size: 20px;
    padding: 8px;
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

.fa-th:hover {
    opacity: 0.99;
}

/* Search Box */

.search-box {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 484px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 5px 8px 0 16px;
    border-radius: 2px;
    box-shadow: #5f6368;
    height: 44px;
    width: 484px;
}

.search-box input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: grey;
    display: flex;
    flex: 100%;
    outline: grey;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.icon-wrapper {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    margin-bottom: 5px;
    width: 24px;
    line-height: 44px;
}

.voice-icon img {
    padding: 2px;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}

/* Search buttons */

.btn-search {
    color: grey;
    font-weight: bold;
    font-size: 13px;
    margin: 11px 4px;
    border-radius: 2px;
    border: none;
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    padding: 0 16px;
    text-align: center;
}

/* Alternative languages */

.alt-languages {
    display: inline-block;
    line-height: 28px;
    font-size: small;
    margin-top: 10px;
}

.alt-languages a {
    text-decoration: none;
    color: blue;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  height: 50px;
  line-height: 36px;
}

footer a {
    color: grey;
    text-decoration: none;
    padding: 12px 8px;
}

.footer-left {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.footer-right {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}